.subheading {
    font-family: 'Open-Sans', sans-serif;
    font-size: 20px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    text-align: center;

    margin-left: 25vw;
    margin-right: 25vw;
}