.showcase  {
    padding-top: 20px;
   display: inline-flex;
   flex-wrap: wrap;
   flex-direction: row;
   max-width: 100vw;
   grid-template-columns: repeat(12, 1fr);
   position: relative;
}

.top {
    width: 50vw;
    position: relative;
    left: 25vw;
    z-index: 10;
    flex-wrap: wrap;
    justify-content:center;
   
}

.left {
    width: 33vw;
    position: absolute;
    z-index: 5;
    left: 0vw;
    flex-wrap: wrap;
    justify-content: left;
}

.right {
    z-index: 5;
    width: 33vw;
    right:0px;
    left:68vw;
    position: absolute;
    flex-wrap: wrap;
    float:right;
}